:root {
  line-height: 1.5;
  background-color: #242424;
  --light-purple: hsl(276, 100%, 81%);
  --medium-purple: hsl(276, 55%, 52%);
  --dark-purple: hsl(271, 36%, 24%);
  --dark-gray: hsl(270, 7%, 64%);
  --light-gray: hsl(206, 6%, 79%);
  --bg-pink: hsl(293, 100%, 63%);
  --bg-purple: hsl(264, 100%, 61%);
  --full-white: hsl(0, 100%, 100%);
  --app-bg: hsl(270, 20%, 96%);
  --submit-btn: hsl(271, 36%, 24%);
  --radio-outline: hsl(289, 100%, 72%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--dark-purple);
}

#app {
  margin: 0 auto;
  text-align: center;
  max-width: 1440px;
  height: 100vh;
  background: var(--app-bg);
}

p,
span,
h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h3 {
  color: var(--full-white);
  font-size: 0.95rem;
}

header {
  background: linear-gradient(200deg, var(--bg-pink), var(--bg-purple));
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
  justify-content: center;
}

img {
  border-radius: 15px;
  width: 42px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--light-gray);
}

span {
  color: var(--full-white);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 5px;
  height: 5px;
}

.arrow-right {
  border: solid rgb(255, 255, 255);
  border-width: 3px 0 0 3px;
  display: inline-block;
  padding: 3px;
  width: 10px;
  height: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.avatar {
  border-radius: 50%;
  outline: 1px solid white;
  width: 1.75rem;
  height: 1.75rem;
}

.Bottom-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;

  p {
    background: hsl(276, 100%, 81%, 0.25);
    color: var(--medium-purple);
    width: 70%;
    border-radius: 15px;
    align-items: center;
    display: flex;
    font-size: 0.5rem;
    padding: 10px;
    font-weight: 400;
  }
}

.btn {
  background: linear-gradient(120deg, var(--bg-pink), var(--bg-purple));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px 15px 15px 5px;
  width: 180px;
  height: 40px;
  padding: 0 0.8rem;
}

.btn-left {
  color: var(--light-gray);
  font-size: 0.6rem;
  font-weight: 400;
  position: relative;

  span {
    color: var(--light-purple);
  }
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}

.container:hover {
  color: var(--full-white);
}

.container:hover input ~ .checkmark {
  background-color: var(--light-purple);
}

.container input:checked ~ .checkmark {
  background-color: var(--submit-btn);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  outline: 1px solid var(--radio-outline);
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.info {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 460px;

  p {
    color: var(--dark-gray);
    font-weight: 400;
  }

  h2 {
    color: var(--dark-purple);
    font-weight: 500;
    font-size: 2.5rem;
  }
}

.main {
  position: relative;
  height: 100%;
  overflow: clip;
}

.mask-left {
  background: linear-gradient(200deg, var(--bg-pink), var(--bg-purple));
  height: 85%;
  width: 450px;
  position: absolute;
  left: -60px;
  border-radius: 0px 0px 220px 210px;
}

.mask-right {
  background-color: var(--light-purple);
  height: 80%;
  width: 450px;
  position: absolute;
  right: -120px;
  border-radius: 210px 200px 0px 0px;
  bottom: 0px;
  opacity: 0.1;
}

.message {
  display: flex;
  align-items: center;
  background: var(--full-white);
  padding: 5px;
  border-radius: 20px;
  justify-content: space-between;

  input {
    border: none;
    background-color: transparent;
    color: var(--dark-purple);
    margin-left: 1rem;
  }
}

.Middle-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;

  p {
    background-color: var(--full-white);
    color: hsl(271, 31%, 13%);
    max-width: 60%;
    border-radius: 15px 15px 5px;
    align-items: center;
    display: flex;
    font-size: 0.5rem;
    padding: 10px;
    font-weight: 400;
  }
}

.more::after {
  content: "\2807";
  font-size: 15px;
  color: var(--full-white);
}

.person {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.person-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0;

  p {
    font-size: 0.5rem;
    color: var(--light-purple);
  }

  span {
    font-size: 0.7rem;
  }
}

.phone {
  background: var(--app-bg);
  border-radius: 30px;
  outline: 10px solid rgb(255, 255, 255);
  width: 250px;
  overflow: clip;
  box-shadow: 5px 5px 5px 5px #8a8a8a;
}

.phone-body {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  gap: 1rem;
}

.reply {
  background: var(--submit-btn);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 1rem;
}

.top-info::before {
  content: "";
  background-color: var(--full-white);
  width: 150px;
  display: block;
  height: 30px;
  position: absolute;
  border-radius: 40px;
  top: -10px;
}

.top-left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.Top-text {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;

  p {
    background: hsl(276, 100%, 81%, 0.25);
    color: var(--medium-purple);
    width: 70%;
    align-items: center;
    display: flex;
    font-size: 0.5rem;
    padding: 0.5rem;
    border-radius: 15px 15px 15px 5px;
    font-weight: 400;
  }
}

.upper-space {
  background: var(--full-white);
  width: 129px;
  height: 35px;
  top: 0px;
  margin: 0 auto;
  border-radius: 15px;
  top: -15px;
  position: relative;
  padding: 1rem;
}

.wrapper {
  position: relative;
  z-index: 999;
  margin: 0 auto;
  gap: clamp(8.5rem, 9rem, 9.5rem);
  width: 65%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
}

@media (width < 1000px) {
  .info {
    gap: 1rem;
    text-align: center;
    padding-inline: clamp(4rem, 4.5rem, 5rem);
  }

  .mask-left {
    background: linear-gradient(120deg, var(--bg-pink), var(--bg-purple));
    height: 55%;
    width: 60vw;
    position: absolute;
    left: -10%;
    border-radius: 0px 0px 90% 90%;
  }

  .mask-right {
    background-color: var(--light-purple);
    height: 50%;
    width: 70vw;
    position: absolute;
    right: -170px;
    border-radius: 80% 80% 0% 0%;
    bottom: 0px;
    opacity: 0.1;
  }

  .wrapper {
    flex-direction: column;
    gap: clamp(3rem, 3.5rem, 4rem);
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .mask-left {
    width: 80vw;
    left: -30%;
  }

  .mask-right {
    width: 80vw;
  }
}

@media (max-width: 500px) {
  .mask-left {
    width: 85vw;
    left: -35%;
  }
  .mask-right {
    width: 85vw;
    right: -215px;
  }
}

